<div id="node-<%= node.id %>" class="node-container">
  <%= form_tag(node_path(node), method: :put, remote: true, class: "form-inline") do %>
    <div class="input-prepend">
      <span class="add-on" title="tag">
        <%= dark_icon("chevron-left") + dark_icon("chevron-right") %>
      </span>
      <%= text_field_tag "node[name]", node.name, class: "span3", data: { value: node.name } %>
    </div>
    <div class="input-prepend">
      <span class="add-on" title="tag">
        <%= dark_icon("pencil") %>
      </span>
      <%= text_field_tag "node[value]", node.value, class: "span3", data: { value: node.value } %>
    </div>
    <%= button_tag icon("ok"), class: "btn-toggle btn", disabled: true %>
    <%= button_tag icon("repeat"), class: "btn-toggle btn btn-info", disabled: true, type: "reset" %>
    <%= link_to icon("remove"), node_path(node), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?", remote: true } %>
  <% end %>
</div>
