<h1>Edit Document</h1>
<hr />
<%= simple_form_for(@document) do |f| %>
  <%= f.error_notification %>
  <%= f.input :slug %>
  <%= f.button :submit, "Update", class: "btn" %> 
  or
  <%= link_to "Cancel", document_path(@document) %>
<% end %>
