<h1>Edit Document</h1>
<hr />

<div class="well">
  <%= document_url(@document.slug) %>
  <%= link_to "Preview", document_url(@document.slug), target: "_blank", class: "pull-right btn btn-info" %>
</div>

<div id="nodes">
  <% @nodes.each do |node| %>
    <%= render "nodes/node", node: node %>
  <% end %>
</div>

<div class="row">
  <div id="new-node" class="span10">
    <%= form_tag(nodes_path, class: "form-inline", remote: true) do %>
      <%= hidden_field_tag "slug", @document.slug %>
      <%= text_field_tag "node[name]", nil, placeholder: "name", class: "span2" %>
      <%= text_field_tag "node[value]", nil, placeholder: "value", class: "span2" %>
      <%= button_tag icon("plus"), class: "btn btn-success" %>
      <%= button_tag icon("repeat"), class: "btn btn-danger", type: "reset" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#nodes').on('keyup', 'input', function(e) {
    $(e.target).next('button.btn-success').attr('disabled', false);
  });
});
</script>