<h1>New Document</h1>
<hr />

<div>
<%= simple_form_for(@document, html: { class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :slug %>
  <%= f.button :submit, "Create New Document", class: "btn" %> 
  or
  <%= link_to "Cancel", documents_path %>
<% end %>
</div>