<div class="create-document pull-right">
  <%= link_to "Create", new_document_path, class: "btn btn-info" %>
</div>

<h3>Documents > View</h3>

<table class="table">
    <tr>
      <td>ID:</td>
      <td><%= @document.id %></td>
    </tr>
    <tr>
      <td>Slug:</td>
      <td><%= @document.slug %></td>
    </tr>
</table>
<%= link_to "Edit", edit_document_path(@document) %> | 
<%= link_to "Delete", document_path(@document), method: :delete, data: { confirm: "Are you sure?" } %>