<h1>Edit XML File</h1>
<hr />
<%= simple_form_for(@xml_file) do |f| %>
  <%= f.error_notification %>
  <%= f.input :slug %>
  <%= f.button :submit, "Update", class: "btn" %> 
  or
  <%= link_to "Cancel", xml_file_path(@xml_file) %>
<% end %>
