<div class="create-xml-file pull-right">
  <%= link_to "Create", new_xml_file_path, class: "btn btn-info" %>
</div>

<h3>XML Files</h3>
<hr />

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Slug</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @xml_files.each do |xml_file| %>
      <tr>
        <td><%= xml_file.id %></td>
        <td><%= xml_file.slug %></td>
        <td>
          <%= link_to "Edit", edit_xml_file_path(xml_file) %> | 
          <%= link_to "Delete", xml_file_path(xml_file), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>